<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
  <title>Student Management</title>
</head>
<body>
<style>
.bg-primary{
		background: #009688 !important;
		
	}
body {
    font-family: Arial, sans-serif;
 	margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    flex: 1;
    

}

.about-section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    position: sticky;
	bottom: 0;
	width: 100%;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Student Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
       
    <a class="nav-link active" th:href="@{/students}">Students <span class="sr-only">(current)</span></a>
<li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/user/home}" href="#">Logout</a>
        </li>
      </ul>
     
    </div>
  </div>
</nav>


<br>

<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
		<div class="card-body">
					<h2 class="text-center">Update Student</h2>
   <form th:action="@{/students/{student_id}(student_id=${student_id})}" th:object="${student}" method="POST">
	   <div class="form-group">
		   
       <!--<label for="id">Id:</label>
        <input type="number" id="id" required th:field="*{student_id}" class="form-control">
        <br>-->
        <label for="name">Student Name</label>
        <input type="text" id="name" required th:field="*{studentName}" class="form-control">
        <br>
        <label for="phone No">Student Phone No</label>
        <input type="text" id="phone" required th:field="*{student_phone}" class="form-control">
        <br>
        <label for="email">Student Email</label>
        <input type="email" id="email" required th:field="*{student_email}" class="form-control">
        <br>
        <label for="comments">Comment</label>
        <input type="text" id="comments" required th:field="*{student_comment}" class="form-control">
        <br>
        <label for="resume">Student Resume</label>
        <input type="file" id="resume" required th:field="*{student_resume}" class="form-control">
        <br>
        <button type="submit" class="btn btn-success" onclick="addStudent()">Update</button>
	   </div>
    </form>

	</div>
</div>
		</div>
		</div>
<script>
	       function addStudent() {
            const name = document.getElementById("name").value;
            const id = document.getElementById("id").value;
            const phone = document.getElementById("phone").value;
               const email = document.getElementById("email").value;
                  const comment = document.getElementById("comment").value;
                     const resume = document.getElementById("resume").value;
                     
                        // Append the new row to the table
            table.appendChild(newRow);

            // Clear the input fields
            document.getElementById("name").value = "";
            document.getElementById("id").value = "";
            document.getElementById("phone").value = "";
            document.getElementById("email").value = "";
            document.getElementById("comment").value = "";
            document.getElementById("resume").value = "";
            }
</script>
<footer>
        <p>&copy; 2023 Student Management System. All rights reserved.</p>
</footer>
</body>
</html>